<div class="row">
<%= link_to "Add New Category", new_product_path, class: "btn btn-info" %>
</div>
<br/>
<div class="row">
	<table class="table table-striped">
	<tr>
		<th>No.</th>
		<th>Product Name</th>
		<th>Product Quantity</th>
		<th>Product Price</th>
		<th>Product Number</th>
		<th>Product Color</th>
		<th>Product Category</th>
		<th>Actions</th>
	</tr>
	<% 

	a = 0
	@products.each do |d| %>
	<tr>
		<td><%= a += 1 %></td>
		<td><%= d.pname %></td>
		<td><%= d.pquantity %></td>
		<td><%= d.pprice %></td>
		<td><%= d.pno %></td>
		<td><%= d.pcolor %></td>
		<td><%= d.cname %></td>
		<td>
			<%= link_to 'Edit', edit_product_path(d.id), class: "btn btn-primary" %>
			<%= link_to 'Delete', product_path(d.id), method: 'delete', class: "btn btn-danger", data: {confirm: 'Are you sure'} %>
		</td>
	</tr>
	<% end %>
	</table>
</div>
